body {
  font-family: Arial;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 150px;
}

button {
  margin-top: 10px;
  padding: 10px;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  margin-top: 15px;
}
